{% extends 'template.html' %}
{% block content %}
    <div class="box">
        <div class="media">
            <figure class="media-left">
                <img src="{{ patch_path }}" alt="The patch we search with.">
            </figure>
            <div class="media-content">
                <div class="content notification is-primary">
                    Searching from <strong>{{ image }}</strong> with slice start ({{x1}}, {{x1}}) to end ({{x2}}, {{y2}}).
                </div>
            </div>
        </div>
    </div>
    <progress class="progress is-warning" value="25" max="100"></progress>

    <div id="search_results" class="columns is-multiline">

    </div>
{% endblock %}

{% block tail %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    jQuery.fn.sortDivs = function sortDivs() {
    $("> div", this[0]).sort(dec_sort).appendTo(this[0]);
    function dec_sort(a, b){ return parseFloat($(b).attr("score")) > parseFloat($(a).attr("score")) ? 1 : -1; }
    }
    $(document).ready(function() {
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
      });

      socket.on('log', function(msg) {
        $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
      });
      socket.on('new_find', function(msg) {
        $('progress.progress').attr('value', 100)
        find_str = '<div class="card column is-one-quarter" score="' + msg.score + '">' +
            '<div class="card-image"><img src="' + msg.patch_path + '"></div>' +
            '<footer class="card-footer">' +
                '<p class="card-footer-item"><a href="/new/' + msg.image_path + '">' + msg.image_bn + '</a></p>' +
                '<p class="card-footer-item"><strong>S: </strong>' + Math.round(msg.score * 100).toFixed(2) + '%</p>' +
            '</footer></div>';
        $('#search_results').append(find_str);
        $('#search_results').sortDivs();
      });
    });
    </script>
{% endblock %}
