<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image retrieval</title>
  <meta name="description" content="Image Retrieval">
  <meta name="author" content="Maurie Frank">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.css" integrity="sha256-HyQY2ZzTRil84YulSt2lgKEfpKumkHxgzz3Ny0FsTso=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css" integrity="sha256-n+Ch7oRdzZ9+8/inp+1mK/0Bt4T/2PSmo4L6YGoDiVM=" crossorigin="anonymous" />

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <style media="screen">
    .search-anchor-image {
      max-width: 250px;
      max-height: 250px;
    }
    .search-result-image {
      display: block;
      margin: 0 auto;
      max-width: 125px;
      max-height: 125px;
    }

    .search-result-link {
      display: block;
    }
  </style>

</head>

<body>
  <nav class="nav">
    <div class="nav-left">
      <div class="nav-item">
        <h1 class="title is-5">Semantic image search</h1>
      </div>
    </div>
    <div class="nav-right nav-menu">
      <div class="nav-item">
        <div class="field is-grouped">
          <p class="control"><a class="button is-primary" href="/">Change set</a></p>
          <p class="control"><a class="button is-primary" href="/setlist">Show set</a></p>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.0/jquery.modal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js" integrity="sha256-TwbS4LK+tgrH9bRI95pNnIukpG46IWrZgYkR+pEMx3o=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stackblur-canvas/1.4.0/stackblur.min.js"></script>

  {% block tail %}{% endblock %}
</body>
</html>
